<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {include file="common/meta"}
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <link rel="stylesheet" href="__CDN__/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CDN__/assets/css/font-awesome.min.css">

    <!-- 字体图标ie7兼容性处理 -->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="__CDN__/assets/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" href="__CDN__/assets/css/global.css">
    <link rel="stylesheet" href="__CDN__/assets/css/index.css">

    <!--- jQuery -->
    <script src="__CDN__/assets/js/jquery.min.js"></script>
    <script src="__CDN__/assets/js/jquery.flexslider-min.js"></script>
    <script src="__CDN__/assets/js/jquery.superslide.2.1.1.js"></script>
    <!--[if lt IE 9]>
    <script src="__CDN__/assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- 首页头部  -->
<link rel="stylesheet" href="__CDN__/assets/css/rightsuspension.css">
<script src="__CDN__/assets/js/ajaxcart.js"></script>

<!-- Validation 表单验证插件-->
<script src="__CDN__/assets/js/jquery.validate.min.js"></script>
<script src="__CDN__/assets/js/md5.js"></script>

<!--侧栏点击 联系客服，意见建议，回到顶部-->
{include file="common/online"}
<!--登陆状态/未登录状态切换-->
{include file="common/landed"}

<!-- 头部面包屑 -->
<div id="shop_bd">
    <div id="content">
        <div class="layout_auto">
            <div class="DragContainer" id="DragContainer1" starttop="113" startleft="343" startheight="129" startwidth="1143" overclass="OverDragContainer" dropobj="0">

                <div class="DragBox" id="Item1491382203444" style="visibility: visible;" starttop="154" startleft="353" startheight="34" startwidth="1123" compid="homePageUpCategory">
                    <!-- 首页common 导航 -->
                    {include file="common/header"}
                    <!--banner导航-->
                    <!--{include file="common/tag"}-->
                </div>
            </div>
        </div>

        <div class="layout layout_auto" id="OneLine1489125299212">
            <div class="DragContainer" id="DragContainer1489125299212" starttop="198" startleft="343" startheight="518" startwidth="1143" overclass="OverDragContainer" dropobj="0">
                <div class="DragBox" id="Item1489125305677" style="visibility: visible;" starttop="208" startleft="353" startheight="34" startwidth="1123" compid="homePageUpSelectionAd">
                    <!--banner切换-->
                    <div class="y_dqslides">
                        <div class="i_banner">
                            <!--平台首页大banner切换广告模块-->
                            <!--banner切换组件-->
                            <div class="flexslider">
                                <ul class="slides">
                                    {volist name='banner' id='vo'}
                                    <li>
                                        <a href="{$vo.goods_id}"><img src="__CDN__{$vo.pic}"/></a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                        <!--- 平台首页大banner切换广告模块调用插件的js -->
                        <script>
                            $(function(){
                                $('.y_dqslides .flexslider').flexslider({
                                    animation: "slide",
                                    animationLoop: true,
                                    pauseOnAction: false,
                                    pauseOnHover: true,
                                    slideshowSpeed: 4000
                                });
                            });
                        </script>
                    </div>
                    <!--banner切换结束-->

                </div>
            </div>
        </div>
        <div class="layout " id="OneLine1489125544653">
            <div class="col_main">
                <div class="DragContainer main_wrap" id="DragContainer1489125544653" starttop="727" startleft="343" startheight="505" startwidth="1143" overclass="OverDragContainer" dropobj="0">
                    <div class="DragBox" id="Item1489125556349" starttop="737" startleft="353" startheight="34" startwidth="1123" compid="homePageUpSCategory">
                        <div class="container floor floor-promotion">
                            <div class="fp-l">
                                <a href="http://www.700du.cn/front/product/toProduct/17cf723df5b1495691b7d9ae79c3622c" target="_blank"><img src="__CDN__/assets/picture/0001017826.fid"></a>
                            </div>

                            <div class="fp-m">
                                <div class="clearfix">
                                    <a href="http://www.700du.cn/front/product/toProduct/00fd73e61a2141d89362c64a46610851" class="fp-img-wrap" target="_blank"><img src="__CDN__/assets/picture/0001017822.fid">
                                        <div class="fp-img-info">
                                            <div class="fp-img-text">百年康惠保（旗舰版）重大疾病保险</div>
                                            <span class="fp-img-sub">

				        	<b class="fp-line-l"></b>100种重疾+20种中症+35种轻症<b class="fp-line-r"></b>

			        </span>
                                        </div>
                                    </a>
                                    <a href="http://www.700du.cn/front/product/toProduct/cac095bcad09463c8a240569bfa9a323" class="fp-img-wrap" target="_blank"><img src="__CDN__/assets/picture/0001017824.fid">
                                        <div class="fp-img-info">
                                            <div class="fp-img-text">昆仑康爱保疾病保险</div>
                                            <span class="fp-img-sub">

			        		<b class="fp-line-l"></b>恶性肿瘤最高50万，原位癌最高10万且附带豁免责任<b class="fp-line-r"></b>

			        </span>
                                        </div>
                                    </a>
                                    <a href="http://www.700du.cn/front/product/toProduct/b02e6c48602c4c53a7c84a5f8c7f508f" class="fp-img-wrap" target="_blank"><img src="__CDN__/assets/picture/0001017823.fid">
                                        <div class="fp-img-info">
                                            <div class="fp-img-text">复星联合康乐一生（2019版）重大疾病保险</div>
                                            <span class="fp-img-sub">

			        		<b class="fp-line-l"></b>108种重疾+25种中症+40种轻症<b class="fp-line-r"></b>

			        </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix mt15">
                                    <a href="http://www.700du.cn/front/product/toProduct/d792b8f789ab4dfa9c3e376f5e79cf33" class="fp-img-long" target="_blank"><img src="__CDN__/assets/picture/0001017825.fid">
                                        <div class="fp-img-info">
                                            <div class="fp-img-text">复星联合妈咪保贝少儿重大疾病保险</div>
                                            <span class="fp-img-sub">

			        		<b class="fp-line-l"></b>终身保障、200万超大保额、重疾不分组多次赔<b class="fp-line-r"></b>

			        </span>
                                        </div>
                                    </a>
                                    <a href="http://www.700du.cn/front/product/toProduct/d08615532ba549e796d7ed9555f120c9" class="fp-img-wrap" target="_blank"><img src="__CDN__/assets/picture/0001017827.fid">
                                        <div class="fp-img-info">
                                            <div class="fp-img-text">长生长生福优加重大疾病保险</div>
                                            <span class="fp-img-sub">

			        		<b class="fp-line-l"></b>轻症、中症、重疾多次赔付不分组 、投保人豁免、线下核保<b class="fp-line-r"></b>

			        </span>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="layout grid_s2m0" id="OneLine1489125645401">
            <div class="col_main">
                <div class="DragContainer main_wrap" id="DragContainer14891256454011" starttop="1242" startleft="641" startheight="54" startwidth="846" overclass="OverDragContainer" dropobj="0">
                    <div class="DragBox" id="Item1489125670848" starttop="1252" startleft="651" startheight="34" startwidth="826" compid="homePageUpFloor">
                        <!--楼层商品分类切换组件-->
                        <div class="y_productmc">
                            <ul class="y_flortabtit">
                                <li class="y_active">意外险</li>
                                <li>老年险</li>
                            </ul>
                            <div class="y_piclist y_visible">
                                <!--意外险begin-->
                                <ul class="y_itemwrap">
                                    {volist name='accident' id='vo'}
                                    <li class="y_item1">
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" class="con">
                                            <img class="pic" src="__CDN__{$vo.picarr[0]}">
                                            <h2>{$vo.goods_name}</h2>
                                            <!-- 							    <p>投保年龄50岁及以上都可，不设上限</p> -->
                                            <!-- 								<p>超高性价比，最低20元即享全年安心</p> -->
                                            <!-- 							    <p>老人专享，意外骨折、旅游意外全包含</p> -->
                                            <p>{$vo.tags}</p>
                                        </a>
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" target="_blank" class="price">
                                            <span class="p"><em>{$vo.price}</em>元起</span>
                                            <span class="c">已售: {$vo.sales_actual}</span>
                                        </a>
                                        <!--<dl class="detail">-->
                                            <!--<dt>安联安泰百万意外保障计划</dt>-->
                                            <!--&lt;!&ndash; 					         <dd><span>火车、轮船意外身故</span>5万</dd> &ndash;&gt;-->
                                            <!--&lt;!&ndash; 					         <dd><span>一般意外伤残</span>1万</dd> &ndash;&gt;-->
                                            <!--&lt;!&ndash; 					         <dd><span>意外伤害骨折</span>500元（按档赔付）</dd> &ndash;&gt;-->
                                            <!--&lt;!&ndash; 					         <dd><span>旅游意外身故</span>2万</dd> &ndash;&gt;-->
                                            <!--<dd><span>意外身故及伤残</span>最高100万</dd>-->
                                            <!--<dd><span>-->
<!--猝死保障</span>最高10万</dd>-->
                                            <!--<dd><span>-->
<!--意外医疗费用</span>最高5万</dd>-->
                                            <!--<dd><span>-->
<!--公立特需/私立医院意外医疗</span>最高1.3万</dd>-->
                                            <!--<dd><span>-->
<!--意外住院津贴</span>最高600元/天</dd>-->
                                            <!--<dd><span>-->
<!--非电动车免费道路救援</span>1次</dd>-->
                                        <!--</dl>-->
                                    </li>
                                    {/volist}
                                </ul>
                                <!--意外险end-->
                            </div>
                            <!--老年险-->
                            <div class="y_piclist">
                                <ul class="y_itemwrap">
                                    {volist name='old' id='vo'}
                                    <li class="y_item1">
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" class="con">
                                            <img class="pic" src="__CDN__{$vo.picarr[0]}">
                                            <h2>{$vo.goods_name}</h2>
                                            <p>{$vo.tags} </p>
                                        </a>
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" target="_blank" class="price">
                                            <span class="p"><em>{$vo.price}</em>元起</span>
                                            <span class="c">已售: {$vo.sales_actual}</span>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <!--老年险 end-->
                        </div>
                        <script>
                            $(function(){
                                //楼层商品tab切换
                                $(".y_flortabtit li").mouseover(function(){
                                    $(this).addClass("y_active").siblings().removeClass().parent(".y_flortabtit").nextAll(".y_piclist").eq($(this).index()).addClass("y_visible").siblings(".y_piclist").removeClass("y_visible");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="DragContainer col_sidebar" id="DragContainer14891256454012" starttop="1242" startleft="343" startheight="54" startwidth="285" overclass="OverDragContainer" dropobj="0">
                <div class="DragBox" id="Item1489544220145" style="visibility: visible;" starttop="1252" startleft="353" startheight="34" startwidth="265" compid="homePageUpFloorLeft">
                    <div class="y_catatit"><h2><strong>意外险</strong></h2></div><!--楼层标题 end-->
                    <div class="DragBox">
                        <!--楼层左广告组件-->
                        <div class="y_forltpic">
                            <div class="florleft_switchad">
                                <img src="__CDN__/assets/picture/0000055176.fid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout grid_s2m0" id="OneLine1489125649313">
            <div class="col_main">
                <div class="DragContainer main_wrap" id="DragContainer14891256493131" starttop="1306" startleft="641" startheight="511" startwidth="846" overclass="OverDragContainer" dropobj="0">
                    <div class="DragBox" id="Item1489125674943" starttop="1316" startleft="651" startheight="34" startwidth="826" compid="homePageUpFloor">
                        <!--楼层商品分类切换组件-->
                        <div class="y_productmc">
                            <ul class="y_flortabtit">
                                <li class="y_active">医疗险</li>
                                <li>健康险</li>
                            </ul>
                          <!--医疗险 start-->
                            <div class="y_piclist y_visible">
                                <ul class="y_itemwrap">
                                    {volist name='medical' id='vo'}
                                    <li class="y_item1">
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" class="con">
                                            <img class="pic" src="__CDN__{$vo.picarr[0]}">
                                            <h2>{$vo.goods_name}</h2>
                                            <p>{$vo.tags}</p>
                                        </a>
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" target="_blank" class="price">
                                            <span class="p"><em>{$vo.price}</em>元起</span>
                                            <span class="c">已售: {$vo.sales_actual}</span>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <!--医疗险结束  END-->
                            <!--健康险-->
                            <div class="y_piclist">
                                <ul class="y_itemwrap">
                                    {volist name='health' id='vo'}
                                    <li class="y_item1">
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" class="con">
                                            <img class="pic" src="__CDN__{$vo.picarr[0]}">
                                            <h2>{$vo.goods_name}</h2>
                                            <p>{$vo.tags}</p>
                                        </a>
                                        <a href="{:url('goodscontent',['id'=>$vo.id])}" target="_blank" class="price">
                                            <span class="p"><em>{$vo.price}</em>元起</span>
                                            <span class="c">已售: {$vo.sales_actual}</span>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <!--健康险结束  END-->
                        </div>
                        <script>
                            $(function(){
                                //楼层商品tab切换
                                $(".y_flortabtit li").mouseover(function(){
                                    $(this).addClass("y_active").siblings().removeClass().parent(".y_flortabtit").nextAll(".y_piclist").eq($(this).index()).addClass("y_visible").siblings(".y_piclist").removeClass("y_visible");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="DragContainer col_sidebar" id="DragContainer14891256493132" starttop="1306" startleft="343" startheight="164" startwidth="285" overclass="OverDragContainer" dropobj="0">
                <div class="DragBox" id="Item1489544254410" starttop="1316" startleft="353" startheight="34" startwidth="265" compid="homePageUpFloorLeft">

                    <div class="y_catatit"><h2><strong>健康险</strong></h2></div><!--楼层标题 end-->
                    <div class="DragBox">
                        <!--楼层左广告组件-->
                        <div class="y_forltpic">
                            <div class="florleft_switchad">
                                <img src="__CDN__/assets/picture/0000055177.fid" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="layout " id="OneLine1489126404997">
            <div class="col_main">
                <div class="DragContainer main_wrap" id="DragContainer1489126404997" starttop="1827" startleft="343" startheight="651" startwidth="1143" overclass="OverDragContainer" dropobj="0">
                    <div class="DragBox" id="Item1489126412452" starttop="1837" startleft="353" startheight="34" startwidth="1123" compid="homePageUpPartner">
                        <link rel="stylesheet" type="text/css" href="static/css/index.css">
                        <div class="y_catatit"><h2><strong>合作伙伴</strong></h2></div>
                        <div class="columns-body" id="multipleColumn">
                            <div class="hd">
                                <ul>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="bd">
                                <div class="company-list clearfix">
                                {volist name="partners" id="vo"}
                                    <li class="company-item fl">
                                        <a href="javascript:;" title="{$vo.title}">
                                            <img src="__CDN__{$vo.image}" alt="">
                                        </a>
                                    </li>
                                {/volist}
                                </div>
                            </div>
                        </div>

                        <script>
                            /* 使用js分组，每6个li放到一个ul里面 */
                            jQuery("#multipleColumn .bd li").each(function(i){ jQuery("#multipleColumn .bd li").slice(i*8,i*8+8).wrapAll("<ul></ul>");});

                            /* 调用SuperSlide，每次滚动一个ul，相当于每次滚动6个li */
                            jQuery("#multipleColumn").slide({titCell:".hd ul",mainCell:".bd .company-list",autoPage:true,effect:"leftLoop",autoPlay:true});
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout " id="OneLine1489126407204">
            <div class="col_main">
                <div class="DragContainer main_wrap" id="DragContainer1489126407204" starttop="2489" startleft="343" startheight="406" startwidth="1143" overclass="OverDragContainer" dropobj="0">
                    <div class="DragBox" id="Item1489126425347" starttop="2499" startleft="353" startheight="34" startwidth="1123" compid="homePageUpMessage">
                        <!--资讯-->
                        <div class="layout grid_m0">
                            <div class="y_catatit"><h2><strong>新闻资讯</strong></h2></div>
                            <div class="box-bd">
                                <ul class="news-list clearfix">
                                {volist name="news" id="vo"}
                                    <li class="news-item">
                                        <div class="figure figure-img">
                                            <a href="{:url('newscontent',['id'=>$vo.id])}" >
                                                <img src="__CDN__{$vo.image}">
                                                <span class="recom">
								  	<img src="__CDN__/assets/picture/recommend_ico.png">
								  </span>
                                            </a>
                                        </div>
                                        <h3 class="title">{$vo.title} </h3>
                                        <p class="desc">{$vo.keyword}</p>
                                    </li>
                                {/volist}
                                </ul>
                            </div>
                        </div>
                        <!--资讯 end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--平台底部帮助中心-->
{include file="common/help"}
<!--平台底部帮助中心end-->
<!--底部-->
{include file="common/footer"}
<!-- End #footer-bottom -->
</body>
</html>