<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {include file="common/meta"}
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <link rel="stylesheet" href="__CDN__/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CDN__/assets/css/font-awesome.min.css">

    <!-- 字体图标ie7兼容性处理 -->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="__CDN__/assets/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" href="__CDN__/assets/css/global.css">
    <link rel="stylesheet" href="__CDN__/assets/css/index.css">

    <!--- jQuery -->
    <script src="__CDN__/assets/js/jquery.min.js"></script>
    <script src="__CDN__/assets/js/jquery.flexslider-min.js"></script>
    <script src="__CDN__/assets/js/jquery.superslide.2.1.1.js"></script>
    <!--[if lt IE 9]>
    <script src="__CDN__/assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- 首页头部  -->
<link rel="stylesheet" href="__CDN__/assets/css/rightsuspension.css">
<script src="__CDN__/assets/js/ajaxcart.js"></script>

<!-- Validation 表单验证插件-->
<script src="__CDN__/assets/js/jquery.validate.min.js"></script>
<script src="__CDN__/assets/js/md5.js"></script>

<!--侧栏点击 联系客服，意见建议，回到顶部-->
{include file="common/online"}
<!--登陆状态/未登录状态切换-->
{include file="common/landed"}

<!-- 头部面包屑 -->
<div id="shop_bd">
    <div class="layout_auto">
        <div class="DragContainer" id="DragContainer1" overclass="OverDragContainer" dropobj="0" startwidth="919" startheight="81" startleft="315" starttop="111">
            <div compid="shopNavigation" id="1423038106490" class="DragBox" startwidth="899" startheight="34" startleft="325" starttop="148">
                <!-- 头部 common 导航 -->
                {include file="common/header"}
            </div>
        </div>
    </div>
    <div class="layout layout_auto" id="OneLine1490081140172">
        <div class="DragContainer" id="DragContainer1490081140172" overclass="OverDragContainer" dropobj="0" startwidth="919" startheight="614" startleft="315" starttop="256">
        </div>
    </div>
    <div class="layout layout_auto" id="OneLine1490669584186">
        <div class="DragContainer" id="DragContainer1490669584186" overclass="OverDragContainer" dropobj="0">
            <div compid="homePageTGIndex" id="Item1490927418094" class="DragBox">

                <!--方便开发写在页面里，开发时需放到group.css里-->
                <style type="text/css">
                    .employ_index{width: 1024px;margin: 30px auto}
                    .employ_index li{float: left;margin-right: 60px;margin-bottom: 30px;}
                    .employ_index li:last-child{margin-right: 0;}
                    .employ_index li:hover,.employ_index li:active{-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);box-shadow: 0 0 30px rgba(0,0,0,0.1);}
                    /* .employ_index li:first-child{display:none;} */
                </style>
                <div class="container">
                    <ul class="employ_index" >
                        <li >
                            <a href="javascript:;"><img src="__CDN__/assets/picture/0000025957.fid"/></a>
                        </li>
                        <li >
                            <a href="javascript:;"><img src="__CDN__/assets/picture/0000025958.fid"/></a>
                        </li>
                        <li >
                            <a href="javascript:;"><img src="__CDN__/assets/picture/0000119260.fid"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--平台底部帮助中心-->
{include file="common/help"}
<!--平台底部帮助中心end-->
<!--底部-->
{include file="common/footer"}
<!-- End #footer-bottom -->
</body>
</html></html>