<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lnkname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lnkname" data-rule="required" class="form-control" name="row[lnkname]" type="text" value="{$row.lnkname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lnkurl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lnkurl" data-rule="required" class="form-control" name="row[lnkurl]" type="text" value="{$row.lnkurl|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Checkinfo')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-checkinfo" data-rule="required" class="form-control selectpicker" name="row[checkinfo]">
                {foreach name="checkinfoList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.checkinfo"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Creattime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-creattime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[creattime]" type="text" value="{:$row.creattime?datetime($row.creattime):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
