<div class="footer-bgdark">
    <div class="container">
        <div><div class="container footer-friendlink footer-friendlinkborn">
            <div class="f_link f_linkcfff"><p style="text-align:center;color:#fff;">友情链接：
                {volist name="$footer.link" id="vo"}
                <a href="{$vo.lnkurl}" target="_blank">{$vo.lnkname}</a>
                {/volist}
            </p></div></div>
            <div class="site-info" style="padding-bottom:25px;">
                <div class="container"><div class="info-text" style="color:#fff;text-align:center;line-height:2.4;padding-top:0;"><p>{$footer.copyright}<br/>
                    {$footer.icp} | 未经许可不得转载</p></div></div></div></div><!--底部商城资讯 end--><!--%@-->
    </div><!-- End .container -->
</div>