<!--未登录状态-->
<div class="header-top">
    <div class="container">
        <div class="fl">
            <span class="index_home"><a href="/" title="700du"><i class="fa fa-home"></i> 700度首页</a></span>
        </div><!-- End .header-top-left -->
        <ul class="fr">
            <li class="y_headrli"><span id="isLogin">您好，欢迎来到700度！ <a class="y_mlr5" href="/customer/toLogin">请登录</a></span>
            </li><li class="y_headrli"><a class="y_plr10" href="/usercenter/order/list/1/1/10?init=true" target="_blank">我的订单</a> | </li>
            <li class="y_headrli"><a class="y_plr10" href="/customer/toIndex" target="_blank">会员中心</a> | </li>
            <!--700度系统把未艾相关的链接都隐藏掉（因监管）
             <li class="y_headrli"><a class="y_plr10" href="http://jyk.700du.cn/shop.shtml?option=jh" target="_blank">服务卡</a> | </li> -->
            <li class="y_headrli"><span class="y_mlr5">客服电话：<strong class="phone">400-101-1136</strong></span></li>
        </ul><!-- End .header-top-right -->
    </div><!-- End .container -->
</div>